@media only screen and (min-width: 0) {
    html {
        font-size: 20px;
    }
}

.block {
    padding: 30px;
    margin: 30px;
}

@media screen and ( max-width:479px ) {
    html {
        font-size: 13px;
    }
}

div class {
    max-width: 100%;
}

p {
    margin-bottom: 4px;
    text-align: left;
}

form {
    text-align: left;
}


.block {
    text-align: left;
}

