{% extends "base.html" %}
{% block content %}

<p>{{birthday}}に生まれたお子さまの行事一覧</p>

<li>お七夜</li>
<p>{{o.date()}}</p>
<li>お宮参り</li>
<p>男の子:{{hb.date()}}女の子:{{hg.date()}}</p>
<li>百花・お食い初め</li>
<p>{{m.date()}}</p>
<li>ハーフバースデー</li>
<p>{{hbd.date()}}</p>
<li>初誕生日</li>
<p>{{bd.date()}}</p>
<li>初節句</li>
<p>男の子:{{sk}}-5-5</p>
<p>女の子:{{sk}}-3-3</p>
<li>髪置き・七五三３歳</li>
<p>{{km}}-11-15</p>
<li>紐解き</li>
<p>{{ht}}-11-15</p>
<li>七五三５歳</li>
<p>{{go}}-11-15</p>
<li>七五三７歳</li>
<p>{{na}}-11-15</p>
<li>小学校入学</li>
<p>{{jhs}}-4-1</p>

{% endblock %}