{% extends "base.html" %}
{% block content %}

    <div class="container">
        <!-- ページコンテンツはここにあります -->
        <div class="row">
            <div class="col s12 m12">
                <div class="card">
                    <div class="card-image">
                        <img src="../static/images/450-20180123142923354829_2.jpg">
                        <span class="card-title">お子様の誕生おめでとうございます！こちらはお子様の成長に必要な生誕日数でのイベントカレンダーが簡単に確認できるサイトです。会員登録も不要です。お子様の成長にあわせてご活用くださいませ！</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="date" name="birthday" max="9999-12-31">
    



{% endblock %}